@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
    padding: 0; margin: 0;
}

header{
    width: 100%;
    padding-top: 2rem;
}

h1,h2,h3,h4{
    font-family: 'Kanit', sans-serif;
    margin-bottom: 10px;
}

h1{
    color: black;
    font-size: 2.2rem;
    text-align: center;
}

section{
    width: 55%;
    margin: 0 auto;
}

article{
    text-align: justify;
}

p{
    font-family: 'Montserrat', sans-serif;
}